<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- 导入尽量不要使用绝对路径或是..的形式,这会对上层产生依赖 -->
    <import resource="basic.xml"/>

    <!-- id是单个bean的标识符,class是具体的类的完全全限定类目 -->
    <bean id="rainbow" class="chaste.core.simple.Rainbow">
        <!-- set注入 -->
         <property name="color" ref="color"/>

        <!-- 静态方法创建的对象 -->
        <!--<property name="color" ref="colorStatic"/>-->

        <!-- 使用实例工厂方法创建的对象 -->
        <!--<property name="color" ref="colorFactoryMethod"/>-->

        <!-- 构造参数注入,还可以使用name,type和index进行限定 index从0开始-->
        <!--<constructor-arg ref="color"/>-->
    </bean>
    <bean id="rainbows" class="chaste.core.simple.Rainbow" autowire="byType"/>


</beans>